/* Mobile POV (Phones, Tablets, etc.) */

@media screen and (max-width: 500 px)
{
  .home_div{
    height: 770px;
    margin-top: 0px;
    background: url(../"img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .noMargin{
    margin: 0px;
    padding: 0px;
  }

  h1.home_Title {
    padding-top:250px;
    font-size: 50px;
    text-align: center;
    color: white;
    padding-bottom: 70px;
    text-shadow: 2px 2px 5px  #808080;
  }

  a.table_of_contents{
    color:white;
    margin-left: auto;
    padding-top: 100px;
  }

  h1
  {
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    margin: 20px;
    text-align: center;
  }

  h2
  {
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    margin: 20px;
    text-align: center;
  }

  h3
  {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    margin: 15px;
    text-align: center;
  }

  h4
  {
    font-family: sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin: 15px;
    text-align: center;
  }

  h5
  {
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin: 15px;
    text-align: center;
  }

  h6
  {
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    margin: 15px;
    text-align: center;
  }

  .margin
  {
    margin-left: 40%;
  }

}

p
  {
     font-family: sans-serif;
     font-weight: 400;
     font-style: normal;
     margin-left: 20px;
     margin-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
  }

 .box
  {
     display: flex;
     flex-direction: column;
  }

 .item
  {
     margin: 3px;
     flex: 1 1 0;
  }

 .pCBox
  {
     display: flex;
     flex-direction: column;
     align-content:center;
     margin-left: auto;
     margin-right: auto;
     width:100%;
  }

  .hC
  {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }

  .lC
  {
    margin-left: auto;
    margin-right: auto;
    width: 18em;
  }

  img
  {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
  }

  .image
  {
    display:block;
  }

}
/* Laptop and higher resolution POV */

@media screen and (min-width:499 px){

  .home_div{
    height: 600px;
    margin-top: 100px;
    background: url("../img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
  }

  h1.home_Title {
    padding-top:250px;
    font-size: 50px;
    text-align: center;
    color: white;
    padding-bottom: 130px;
    text-shadow: 2px 2px 5px  #808080;
  }

  a.table_of_contents{
    color:white;
    text-align: left;
    margin-left: 85%;
    padding-top: 200px;
  }

  h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 20px;
    text-align: center;
  }

  h2 {
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    margin: 20px;
    text-align: center;
  }

  h3 {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    margin: 15px;
    text-align: center;
  }

  h4 {
    font-family: sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin: 15px;
    text-align: center;
  }

  h5 {
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin: 15px;
    text-align: center;
  }

  h6 {
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    margin: 15px;
    text-align: center;
  }

  .margin-In{
    margin-left: 35%;
  }

  p{
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .box{
    display: flex;
  }

  .item{
    margin: 3px;
    flex: 1 1 0;
    text-align: center;
  }

  .pCBox{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-left: auto;
    margin-right: auto;
    width:70%;
  }

  .hC{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }

  .lC{
    margin-left: auto;
    margin-right: auto;
    width: 18em;
  }

  img{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
  }

  .image{
    display:block;
  }

}

/* Global resolution */

a{
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #E84242;
  text-decoration: none;
}

a:hover{
  color: #81B0B6;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border-width: 1px;
  border-color: #81B0B6;
  border-style: solid;
  width: 60%;
  padding-top: 1px;
}

ul {
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
}

ol {
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  list-style-type: upper-roman;
}



.button-style1 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 19px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  transition: box-shadow .25s ease-in-out;
}

.button-style1:hover{
   box-shadow: inset 3px 2px 7px #999999;
}

.button-hover{
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 19px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  box-shadow: inset 3px 2px 7px #999999;
}

.button-active{
  background-color: #81B0B6;
  color: white;
  border-color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 3px;
  border-style: solid;
  border-radius: 19px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px 3px #999999;
}









































/* Mobile POV (Phones, Tablets, etc.) */

@media screen and (max-width: 500px)
{
    .h /* header */
    {
      background-color: #0054D6;
      text-align: center;
      padding: 20px;
    }

    .topnav
    {
      overflow: hidden;
      background-color: #70E3FF;
    }

    .topnav a
    {
      float: left;
      display: block;
      color: #9C5FFE;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .topnav a:hover
    {
      background-color: blue;
      color: black;
    }

    .home_div
    {
      height: 600px;
      margin-top: 100px;
      background: url("../img/background2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-content: center;
    }

    h1
    {
      font-family: "Times New Roman", Times, serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      margin: 20px;
      text-align: center;
    }
}
