body{
  font-family: 'system-ui';

}

p{
  font-size: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: #380d73;
}

h2{
  text-transform: uppercase;
  font-size: 30px;
  color: #380d73;
}

h3{
  text-transform: uppercase;
  font-size: 20px;
  color: #380d73;
}

h4{
  font-size: 20px;
  color: #380d73;
}

h5{
  font-size: 20px;
  font-weight: bold;
  color: #380d73;
}

h6{
  font-size: 20px;
  font-style: italic;
  color: #380d73;
}

button{
  font-family: 'serif';
  font-weight: bold;
  background-color: #a6f78b;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  padding: 10px;
}

button:hover{
  background-color: #5ccef1;
}

a{
  color: #4eb0ad;
  font-size: 20px;
}

a:hover{
   color: #4eb0ad;
   font-weight: bold;
   font-size: 20px;
 }

 #homeTable{
   margin-left: auto;
   margin-right: auto;
 }

 img{
   display:inline-block;
   float:left;
   margin: 10px 50px;
   background-color: white;
 }

 html{
   background-color: white;
     width: auto;
     margin: auto;
     border: 10px solid #dcf7f1; /* width, style, colour */

 }

 #backTable{
   float:right;
 }
